/*
Theme Name: nfttechnology
Version: 1.0.0
Template: businesspress
*/

body{
    font-family: "Inter", "Noto Sans JP", 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif !important;
}
p{
	font-weight: normal;
/* 	word-break:keep-all; */
}
b, strong {
    font-weight: bold;
}

/* post nav */
.post-navigation a{
	font-size:14px;	
}

.btn-primary {
    background-color: #0445ff;
    display: inline-block;
    padding: 1rem 3rem;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
}
.btn-primary:hover{
	opacity:0.7;
	color:#fff;
}

/* 固定 */
.site-content{
    max-width: 1000px;
}
#particles-js{
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0.3;
}
.particles-js-grad{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 0;
    mix-blend-mode: overlay;
    opacity: 0.3;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* head hero */
.main-header {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.site-logo a{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 280px;
    height: 60px;
    display: block;
}
@media screen and (max-width: 979px) {
	.site-logo a{
		width: 50vw;
	}
}
.main-header-clone-show .site-logo a{
background-image: url(../../uploads/2022/04/nfttech-logo02.png) !important;
}
.site-branding {
    width: 260px;
}

.main-header{
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
}
.main-header .menu a{
    color:#fff;
}
@media screen and (max-width: 979px) {
	.main-header .menu a{
		color:#222;
	}
	.drawer-hamburger-icon,.drawer-hamburger-icon:before, .drawer-hamburger-icon:after{
		    background-color: #fff;
	}
	
	.drawer-opened  .drawer-hamburger-icon:before,
	.drawer-opened  .drawer-hamburger-icon:after{
		background-color: #222;
	}
	.main-header-clone-show .drawer-hamburger-icon,.main-header-clone-show .drawer-hamburger-icon:before,.main-header-clone-show .drawer-hamburger-icon:after{
		    background-color: #222;
	}
}
@media screen and (min-width: 980px) {
	.home-header{
		background-attachment: fixed;
	}
}
.home-header-content{
    /* height: 100vh; */
    min-height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
}
.home-header-title {
    font-size: 5rem;
    letter-spacing: unset;
	padding-top: 20rem;
}

.home-header-title:before {
    content: "";
    display: block;
    position: absolute;
    width: 170px;
    height: 170px;
    background: url(/wp-content/uploads/2022/04/hero-logo.png);
    background-size: 100%;
    background-position: center center;
    top: 0;
    left: 0;
    right: 0;
    margin: 170px auto auto;
    background-repeat: no-repeat;
    background-color: #00000047;
    padding: 2rem;
    border-radius: 100%;
    backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

@media screen and (max-width: 979px) {
	.home-header-title {
    font-size: 4rem;
    letter-spacing: unset;
    text-align: left;
    /* padding: 0 2rem; */
		    padding-left: 2rem;
    padding-right: 2rem;
	}
	.home-header-title:before {
    width: 130px;
    height: 130px;
	}
	.drawer-opened .drawer-hamburger-icon {
		background-color: transparent !important;
	}
}
.site-header {
    border-bottom: solid 0px #eee;
    margin-bottom: 0rem;
}
.main-navigation a{
    color: #222;
    font-weight: bold;
}
.main-navigation a:hover{
    filter: brightness(1.5);
}
.main-navigation a:after {
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 3px;
    background-color: unset;
    bottom: 4px;
	transition:0.3s;
}
.main-navigation a:hover:after {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 3px;
    background-color: #fff;
    bottom: 4px;
}
.main-header-clone .menu a{
    color:#222;
}
@media screen and (min-width: 980px) {
    .main-navigation a:hover{
        color: #0445ff;
        font-weight: bold;
    }
    .main-header-clone{
        position: fixed;
        background-color: #ffffff96;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
    .main-header-clone .site-logo{
        margin: 0em 0;
    }
}

@media screen and (max-width: 979px) {
    .main-header-clone{
        position: fixed;
    }
    .site-branding {
        width: 200px;
    }
    .site-branding h1{
        padding: 0px;
        margin: 0px;
    }

}
@media screen and (max-width: 979px) {
	.jumbotron-content{
			padding-top: 100px;
	}
}

/* content */

.content--top{
    max-width: unset;
    padding:0px;
}
.container{
    padding:10rem 3em;
}
@media screen and (max-width: 979px) {
	.container{
		padding:8rem 1em;
	}
}
.container h2{
    margin:0px;
    padding:0px 0px 0px 0px;
    font-size:3rem;
    text-align:center;
}
.container h2:after{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    position: relative;
    background-color: #0445ff;
    margin: 2rem auto;
}
.container h2+h3{
    margin:0px;
    padding:0px 0px 3rem 0px;
    font-size:2rem;
    text-align:center;
}
@media screen and (min-width: 980px) {
	.container.container-vision {
		max-width: 730px;
		margin: auto;
	}
}

.container-projects{
    color:#fff;
    background-image: url(../../uploads/2022/03/nfttech-bgimg.jpg) !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media screen and (min-width: 980px) {
	.container-projects{
			background-attachment: fixed;
	}
}
.container-projects h2,
.container-projects h3{
    color:#fff;
}
.container-projects ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    justify-items: stretch;
	gap: 2rem 0rem;
   margin: 0px 0rem;
}
@media screen and (min-width: 980px) {
	.container-projects ul{
	   margin: 0px 1rem;
		gap: 3rem;
		flex-direction: row;
		margin: 0px 6rem;
	}
}
.container-projects li{
        flex: 0 0 100%;
    text-align: center;
    font-size: 1.6rem;
	font-weight:bold;
    padding: 2rem 1rem;
    background-color: #ffffff47;
    border-radius: 10px;
    backdrop-filter: blur(30px);
}
@media screen and (min-width: 980px) {
	.container-projects li{
		flex: 0 0 calc(33.333% - 6rem);
		padding: 2rem 2rem;
		font-size: 1.4rem;
		    border-radius: 20px;
    backdrop-filter: blur(30px);
	}
}
@media screen and (min-width: 980px) {
	.container-projects ul ul {
		margin: 0;
	}
}
.container-projects ul li ul li {
    background-color: #fff0;
    backdrop-filter: unset;
    flex: 1;
    font-size: 1.1rem;
    font-weight: normal !important;
    padding: 2rem 0rem 0;
    border-top: 3px solid #fff;
    border-radius: 0px;
    margin: 2rem 0rem 0;
	text-align: left;
}
@media screen and (max-width: 979px) {
	.container-projects ul li ul li {
		font-size: 1.3rem;
	}
}
.container-projects .wp-block-image.aligncenter {
    text-align: center;
}
.cintainer--news{
/* 	display:none; */
}
.cintainer--news ul{
    list-style: none;
	max-width: 860px;
    margin: auto auto 3rem;
}
.cintainer--news ul + div{
    text-align:center;
}
.cintainer--news ul a{
    color: #222;
    margin-bottom: 0;
    display: block;
    padding: 1.5rem 0;
	    position: relative;
}
.cintainer--news li + li{
    border-top:1px solid #ccc;
}
.cintainer--news a h3{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0px;
}

.cintainer--news a:after {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    transform: rotate(45deg);
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.container--contact--inner{
    width: 600px;
    background-color: #e0e0e9;
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    border-radius: 16px;
    margin: auto;
}
@media screen and (max-width: 979px) {
	.container--contact--inner{
		width: auto;
		padding: 2rem;
		border-radius: 16px;
		margin: auto;
	}
}

.container--contact--inner input,
.container--contact--inner textarea{
    border-radius: 8px;
    padding: 1rem 0.6em;
}
@media screen and (max-width: 979px) {
	.container--contact--inner input,
	.container--contact--inner textarea{
		width:100%;
	}
}
.container--contact--inner input[type="submit"]{
    background-color: #0445ff;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    padding: 1.6rem 1rem;
}
.container--contact--inner input[type="submit"]:hover{
    background-color: #386dff;
}

/* footer */
.site-info {
    clear: right;
    float: none;
    margin-top: 3px;
    text-align:center;
}

/* company */

.jumbotron-content{
    margin-bottom: 6rem;
}
@media screen and (min-width: 980px) {
	.jumbotron-content{
	    padding-top: 145px;
		margin-bottom: 6rem;
	}
}


.drawer-navigation a {
    font-size: 2.5rem;
}
a.home-header-button-main {
    background-color: #0445ff !important;
}

/* foot */
.header-social-link, .footer-navigation {
    float: none;
}

.header-single {
    height: 140px;
    overflow: hidden;
		margin-bottom: 3rem;
}
@media screen and (max-width: 979px) {
	.header-single {
		height: 80px;
		overflow: hidden;
	}
}


/* post custom */
@media screen and (min-width: 980px) {
	.archive-thumb .post-thumbnail{
		flex: 0 0 20%;
	}
}
@media screen and (max-width: 979px) {
	.archive-thumb .post-thumbnail a{
			display: block;
		width: 40vw;
		margin: auto;
	}
}
@media screen and (min-width: 980px) {
	.archive-thumb .entry-header {
		display: flex;
	}
	.archive-thumb .archive-thumb--items{
		padding: 4rem;
	}
}